<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Node Sample App</title>
        <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
    </head>

    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Welcome to ScrapMe !</h1>
                <p>
                    Scraps datas from anywhere you want, at anytime :)
                </p>
            </div>
        </div>
    </body>
</html>
